<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="app-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `app-card`
     * Contenedor padre de las aplicacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppCard extends Polymer.Element {
      static get is() { return 'app-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'app-card'
          }
        };
      }
    }

    window.customElements.define(AppCard.is, AppCard);
  </script>
</dom-module>
